*.[ado]
*~
\#*\#
*.dev
*.log
*.pcm
*.pdf
*.pyc
*.so
*.swp
*.root
*.sh
param/*.conf
backup/
build/
bin/
fieldmap
lib/
rootfiles/
rootfiles
tmp/
param/k18conf/*
param/k18conf*
param/conf*
param/k18hs*
!.gitkeep
.vscode/settings.json 
param/ShsFieldMap_20210526_Extrapolated
param/ShsFieldMap_20210526_Adjusted
